/* === 主要內容區塊 (QR Code) === */
.qr-code-section {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  flex-grow: 1; /* 讓此區塊佔滿所有剩餘空間 */
  padding-top: 300px; /* 避開固定 header */
  padding-bottom: 300px; /* 增加底部內距，讓內容區塊變長 */
}

.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code-img {
  width: 400px; /* 設定寬度，您可以調整這個數值 */
  height: auto; /* 高度自動等比例調整，保持圖片不變形 */
}

nav a.Downloadtheapp{
  background-color: #d32f2f;
  color: #fff;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 6px;
}
